---
import App from "../App";
import Layout from "./_layout.astro";
import { BryanHead } from "./about/BryanHead";
import { Platypus } from "./about/Platypus";
import { CtaFooter } from "../sections/components/CtaFooter";

const evolutionSteps = [
  `Growing up, I didn't have a computer at home. Perhaps unsurprisingly, I had never written any computer code until my time at Centre College, where I originally went as a Math major.`,
  `After stumbling into a few encounters with code, I fell in love with development and graduated in 2012 with a degree in Computer Science.`,
  `The first few years of my career were spent fumbling around but landing in places where I could learn and grow. I did enterprise desktop development with C++ and worked on an "ERP" system using... X++ (yeah, don't ask).`,
  `After some random advice from a co-worker, I taught myself Android development and in 2015 landed a job doing Android. In addition to the new tech stack, I also adapted from working at product companies to consulting.`,
  `Exposure to books like "Clean Code" and "Refactoring" evolved my technical skills to "Senior Developer" status.`,
  `A chance encounter led me to learning React in my free time starting in 2019, and I later made the switch to full-time web developer. `,
  `I continue to inherit new skills and tools, some of which you can see on display on this website as well as in my projects (and some of which I can't share... NDAs, sorry 😔).`,
];
---

<Layout>
  <App client:only="react">
    <div
      slot="htmlChildren"
      id="App"
      class="font-sans overflow-y-auto overflow-x-clip text-[calc(1.5vh+1.5vw)] leading-tight"
    >
      <header class="flex flex-row items-center">
        <h1 class="font-bold text-[calc(1vh+7vw)] leading-none p-8">
          About Bryan
        </h1>
        <div
          class="ml-auto mr-[2vw] mt-[2vh] scale-150 text-center rounded-full bg-white backdrop-blur w-[calc(6vw+6vh)] aspect-square flex flex-col justify-center items-center"
        >
          <p class="text-[calc(0.75vh+0.75vw)] p-2">(Hey, that's me!)</p>
        </div>
      </header>
      <main class="p-8 mt-4">
        <div
          class="w-full flex flex-col md:flex-row landscape:flex-row rounded-2xl bg-white/90 backdrop-blur overflow-clip"
        >
          <div class="min-h-16 flex-1 aspect-square bg-green-600">
            <BryanHead
              className="w-full h-full scale-125 md:scale-150"
              client:only="react"
            />
          </div>
          <div
            class="flex-1 md:max-w-[50%] landscape:max-w-[50%] flex flex-col justify-center gap-4 p-6 sm:p-8"
          >
            <h2 class="text-4xl font-bold">TL;DR:</h2>
            <p>
              I'm a software engineer<span class="text-stone-500">*</span> focused
              on front-end web development.
            </p>
            <span class="text-[0.5em] text-stone-500">
              *(Or developer. Or programmer. Whatever you want to call it)
            </span>
            <p>
              I've picked up a <span class="line-through text-stone-500"
                >particular</span
              > wide set of skills, both technical and non-technical, and an ability
              to adapt to different technologies and contexts over my 11+ year career.
            </p>
            <p class="text-[0.66em] text-stone-500">
              Also, my favorite animal is the platypus.
            </p>
          </div>
        </div>

        <h2
          class="text-[calc(3vh+3vw)] leading-none font-bold h-[100dvh] bg-white -mx-8 mt-48 px-8 py-[2em] flex items-end"
        >
          The Long Version:
        </h2>
        <div
          class="fw-full flex flex-col md:flex-row landscape:flex-row gap-6 rounded-2xl bg-white/90 backdrop-blur overflow-clip mt-48"
        >
          <div
            class="md:max-w-[50%] landscape:max-w-[50%] p-6 sm:p-8 flex flex-col justify-center gap-4"
          >
            <p class="text-[1.5em]">The platypus is an evoutionary marvel.</p>
            <p class="text-stone-500 text-[0.75em]">
              It's a mammal, but it lays eggs. It's got a bill and webbed feet
              like a duck, but with has fur instead of feathers. It's got a tail
              like a beaver and venom like a reptile.
            </p>
            <p>
              It's a unique creature that has adapted in a way that makes it
              versatile and fascinating.
            </p>
          </div>
          <div
            class="bg-green-600 min-h-16 flex-1 aspect-square grid place-items-center"
          >
            <Platypus
              className="w-full scale-125 md:scale-150 aspect-square"
              client:only="react"
            />
          </div>
        </div>
        <section class="w-full overflow-x-visible mt-48">
          <h3 class="text-center">My Evolution</h3>
          <div class="flex flex-row overflow-x-auto gap-16 p-8 -mx-8">
            {
              evolutionSteps.map((step) => (
                <div class="rounded-2xl p-6 sm:p-8 bg-white/90 backdrop-blur w-[40ch] max-w-[75%] flex-shrink-0">
                  {step}
                </div>
              ))
            }
          </div>
        </section>
        <section class="mt-48">
          <div class="grid grid-cols-1 sm:grid-cols-2 items-center gap-4">
            <ul class="font-[BryanSans] list-inside list-decimal">
              <h4 class="text-2xl">Platypus adaptability:</h4>
              <li>A great swimmer - also walks on land</li>
              <li>
                Can see, smell, hear, etc - also senses electric fields to find
                food
              </li>
              <li>
                Freakin' adorable - could also straight up kill you with its
                murder-spur if it needed to.
              </li>
            </ul>
            <p class="rounded-2xl p-6 sm:p-8 bg-white 90 backdrop-blur">
              The platypus has many adaptations that give it a broad set of
              capabilities.
            </p>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 items-center gap-4 mt-48">
            <p class="rounded-2xl p-6 sm:p-8 bg-white 90 backdrop-blur">
              So too have I adapted and broadened my own capabilities.
            </p>
            <ul class="font-[BryanSans] list-inside list-decimal text-[0.75em]">
              <h4 class="text-[1.5em] font-extrabold">Bryan adaptability:</h4>
              <li>
                Front-end web developer - also comfortable learning new tools
                and tech stacks
              </li>
              <li>
                Highly-technical developer - also a product-focused consultant
                with all those "squishy" people skills
              </li>
              <li>
                Problem-solver - also enjoys bringing creativy to projects
              </li>
            </ul>
          </div>
        </section>
        <section
          class="gap-6 mt-24 min-h-[100dvh] flex flex-col justify-around leading-tight text-[calc(1.5vh+1.5vw)]"
        >
          <p>
            Am I forcing a metaphor because "platypus" is my favorite animal?
          </p>
          <p class="font-bold">Perhaps.</p>
          <p>
            But I genuinely find the platypus an intriguing and often
            underappreciated creature because of its unique evolutionary
            features;
          </p>
          <p class="text-[1.25em]">
            I like to think my diverse background and adaptability make me a
            similarly interesting and well-rounded (if maybe a little unusual) <span
              class="line-through">creature</span
            >
            developer and consultant.
          </p>
        </section>
      </main>
      {
        /* <p class="text-center">...</p>
    <section>
      I currently work at Stellar Elements (originally Big Nerd Ranch when I
      joined in 2018), where I've worked with clients ranging from 2-person
      start-ups to Fortune 500 companies. My current project has me building a
      React + Typescript component library and design system for a nationwide
      fast food company.
    </section>*/
      }
      <CtaFooter />
    </div>
  </App>
</Layout>
