---
import Layout from "./_layout.astro";

const evolutionSteps = [
  `Growing up, I didn't have a computer at home. Perhaps unsurprisingly, I had never written any computer code until my time at Centre College, where I originally went as a Math major.`,
  `After stumbling into a few encounters with code, I fell in love with development and graduated in 2012 with a degree in Computer Science.`,
  `The first few years of my career were spent fumbling around but landing in places where I could learn and grow. I did enterprise desktop development with C++ and worked on an "ERP" system using... X++ (yeah, don't ask).`,
  `After some random advice from a co-worker, I taught myself Android development and in 2015 landed a job doing Android. In addition to the new tech stack, I also adapted from working at product companies to consulting.`,
  `I was also exposed to books like "Clean Code" and "Refactoring", which evolved my technical skills to "Senior Developer" status.`,
  `A chance encounter led me to learning React in my free time starting in 2019, and I later made the switch to full-time web developer. `,
  `As time has gone on, I've continued to inherit new skills and tools, some of which you can see on display on this website as well as in my projects (and some of which I can't share... NDAs, sorry 😔).`,
];
---

<Layout>
  <main
    id="App"
    class="bg-gradient-radial from-green-400 to-green-500 h-[100dvh] font-sans fixed inset-0 p-8 space-y-48 overflow-y-auto overflow-x-visible text-xl"
  >
    <header class="rounded-2xl p-6 sm:p-8 bg-white/90 backdrop-blur">
      <h1 class="font-handwritten text-4xl">About Bryan</h1>
      <p>(That's me!)</p>
    </header>
    <div class="w-full flex flex-col sm:flex-row gap-6">
      <div class="bg-stone-500 min-h-16 flex-1 aspect-square">
        Spinning Head Placeholder
      </div>
      <div
        class="rounded-2xl p-6 sm:p-8 bg-white/90 backdrop-blur flex-1 min-w-80 max-w-[50%] flex flex-col justify-center gap-4"
      >
        <h2 class="text-xl font-bold">TL;DR:</h2>
        <p>
          I'm a software engineer<span class="text-stone-500">*</span> focused on
          front-end web development. I've picked up a wide set of skills over my
          career, both technical and non-technical, and continue to adapt effectively
          to new environments and technologies. My favorite animal is the platypus.
        </p>
        <span class="text-xs text-stone-500">
          *(Or developer. Or programmer. Whatever you want to call it)
        </span>
      </div>
    </div>
    <h2 class="text-xl font-bold">The Longer Version...</h2>
    <div class="fw-full flex flex-col sm:flex-row gap-6">
      <p class="min-w-80 max-w-[50%]">
        <span class="text-2xl">The platypus is a unique creature.</span> It's a mammal,
        but it lays eggs. It's got a bill and webbed feet like a duck, but it's got
        fur instead of feathers. It's got a tail like a beaver. The playtpus took
        a unique evolutionary path to get to where it is today.
      </p>
      <div class="bg-amber-800 min-h-16 flex-1 aspect-square">
        Platypus Placeholder
      </div>
    </div>
    <section class="w-full overflow-x-visible">
      <h3 class="text-center">My Evolution</h3>
      <div class="flex flex-row overflow-x-auto gap-16 py-4">
        {
          evolutionSteps.map((step) => (
            <div class="rounded-2xl p-6 sm:p-8 bg-white/90 backdrop-blur w-[40ch] max-w-[75%] flex-shrink-0">
              {step}
            </div>
          ))
        }
      </div>
    </section>
    <p class="text-center">...</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 items-center gap-4">
      <ul class="font-[BryanSans] list-inside list-decimal">
        <h4 class="text-2xl">Platypus adaptability:</h4>
        <li>A great swimmer - also walks on land</li>
        <li>
          Can see, smell, hear, etc - also senses electric fields to find food
        </li>
        <li>
          Freakin' adorable - could also straight up kill you with its
          murder-spur if it needed to.
        </li>
      </ul>
      <p class="rounded-2xl p-6 sm:p-8 bg-white 90 backdrop-blur text-2xl">
        The platypus has many adaptations that give it a broad set of
        capabilities.
      </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 items-center gap-4">
      <p class="rounded-2xl p-6 sm:p-8 bg-white 90 backdrop-blur text-2xl">
        So too have my experiences helped me become adaptable.
      </p>
      <ul class="font-[BryanSans] list-inside list-decimal">
        <h4 class="text-2xl">Bryan adaptability:</h4>
        <li>
          Front-end web developer - also comfortable learning new tools and tech
          stacks
        </li>
        <li>
          Highly-technical developer - also a product-focused consultant with
          squishy people skills
        </li>
        <li>Problem-solver - also enjoys bringing creativy to projects</li>
      </ul>
    </div>
    <section class="space-y-6">
      <p>Am I forcing a metaphor because "platypus" is my favorite animal?</p>
      <p>Perhaps.</p>
      <p>
        But, I genuinely think the platypus is a beautiful, intriguing, and
        sometimes underappreciated creature because of the unique features it
        developed over its evolution; I like to think that my own diverse
        background and ability to adapt makes me a similarly interesting and
        well-rounded (if perhaps a little odd) <span class="line-through"
          >creature</span
        > developer and consultant.
      </p>
    </section>
    <p class="text-center">...</p>
    <section>
      I currently work at Stellar Elements (originally Big Nerd Ranch when I
      joined in 2018), where I've worked with clients ranging from 2-person
      start-ups to Fortune 500 companies. My current project has me building a
      React + Typescript component library and design system for a nationwide
      fast food company.
    </section>
  </main>
</Layout>
