---
// Welcome to Astro! Everything between these triple-dash code fences
import App from "@/App";
import "@fontsource/rubik-doodle-shadow";
import "@fontsource-variable/rubik";
import RubikDoodle from "@fontsource/rubik-doodle-shadow?url";
import Rubik from "@fontsource-variable/rubik?url";
import "@/index.css";
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=2.0"
    />
    <title>Bryan Lindsey</title>
    <meta
      name="description"
      content="Bryan Lindsey's personal development portfolio"
    />
    <link rel="icon" type="image/svg" href="/src/assets/avatar.svg" />
    <link
      rel="preload"
      type="font/otf"
      href="/fonts/BryanSans-Regular.otf"
      as="font"
      crossorigin
    />
    <link rel="preload" href=`${Rubik}` as="style" crossorigin />
    <link rel="preload" href=`${RubikDoodle}` as="style" crossorigin />
  </head>
  <body>
    <App client:only="react" />
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="squiggly-0">
          <feTurbulence
            id="turbulence"
            baseFrequency="0.02"
            numOctaves="3"
            result="noise"
            seed="0"></feTurbulence>
          <feDisplacementMap
            id="displacement"
            in="SourceGraphic"
            in2="noise"
            scale="1"></feDisplacementMap>
        </filter>
        <filter id="squiggly-1">
          <feTurbulence
            id="turbulence"
            baseFrequency="0.02"
            numOctaves="3"
            result="noise"
            seed="1"></feTurbulence>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="2"
          ></feDisplacementMap>
        </filter>

        <filter id="squiggly-2">
          <feTurbulence
            id="turbulence"
            baseFrequency="0.02"
            numOctaves="3"
            result="noise"
            seed="2"></feTurbulence>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="1"
          ></feDisplacementMap>
        </filter>
        <filter id="squiggly-3">
          <feTurbulence
            id="turbulence"
            baseFrequency="0.02"
            numOctaves="3"
            result="noise"
            seed="3"></feTurbulence>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="2"
          ></feDisplacementMap>
        </filter>

        <filter id="squiggly-4">
          <feTurbulence
            id="turbulence"
            baseFrequency="0.02"
            numOctaves="3"
            result="noise"
            seed="4"></feTurbulence>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="1"
          ></feDisplacementMap>
        </filter>
      </defs>
    </svg>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: BryanSans;
    font-weight: 100;
    src: url(/fonts/BryanSans-Regular.otf) format("opentype");
    font-display: "swap";
  }
</style>
