body {
  margin: 0;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.squiggly {
  animation: squiggly-anim 0.66s linear infinite;
  -webkit-animation: squiggly-anim 0.66s linear infinite;
}

@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }

  25% {
    filter: url("#squiggly-1");
  }

  50% {
    filter: url("#squiggly-2");
  }

  75% {
    filter: url("#squiggly-3");
  }

  100% {
    filter: url("#squiggly-4");
  }
}

@-webkit-keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }

  25% {
    filter: url("#squiggly-1");
  }

  50% {
    filter: url("#squiggly-2");
  }

  75% {
    filter: url("#squiggly-3");
  }

  100% {
    filter: url("#squiggly-4");
  }
}

.elastic-in {
  animation-name: elastic-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes elastic-in {
  0% {
    scale: 0%;
  }
  33.33% {
    scale: 106.67%;
  }
  66.67% {
    scale: 96.67%;
  }
  100.00% {
    scale: 100%;
  }
}
